* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("../images/bg-intro-mobile.png") hsl(0, 100%, 74%);
}

.container {
  margin: 72px 16px;
}

.container h1 {
  color: #fff;
  text-align: center;
  font-size: 1.65rem;
  margin-bottom: 0.75em;
  line-height: 1.4em;
}

.container p {
  text-align: center;
  color: #fff;
  margin-bottom: 2em;
}

a.btn {
  width: 100%;
  background: hsl(248, 32%, 49%);
  color: #fff;
  word-wrap: break-word;
  padding: 1.25em 3.5em;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  font-size: 15px;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1);
}

a.btn span {
  font-weight: 600;
}

.form-wrapper {
  margin-top: 24px;
  background: #fff;
  border-radius: 12px;
  padding: 24px 20px;
}

.form-wrapper .input-group {
  margin-bottom: 1em;
}

.form-wrapper input {
  width: 100%;
  font-family: inherit;
  padding: 1.15em;
  font-weight: 600;

  border: 1px solid silver;
  border-radius: 4px;
  font-size: 0.9rem;
}

.form-wrapper button {
  color: #fff;
  background: hsl(154, 59%, 51%);
  border: 0;
  text-align: center;
  width: 100%;
  padding: 1em;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 1px;
  border-radius: 6px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 0.8em;
}

.form-wrapper p {
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: silver;
  font-size: 0.7rem;
}

.form-wrapper p span {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

.is-invalid {
  border: 2px solid hsl(0, 100%, 74%) !important;
  background: url("/images/icon-error.svg") no-repeat;
  background-position: 95%;
}

.is-invalid::after {
  content: "";
}

.invalid-feedback {
  display: none;
  text-align: end;
  font-style: italic;
  font-size: 0.65rem;
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

/* Desktop Size */
@media screen and (min-width: 375px) {
  body {
    background: url("/images/bg-intro-desktop.png") hsl(0, 100%, 74%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
  }

  .right-side * {
    text-align: start !important;
    max-width: 400px;
  }

  .right-side h1 {
    font-size: 2.5rem;
    line-height: 1.3em;
  }

  .right-side p {
    font-size: 0.9rem;
  }

  .left-side {
    max-width: 500px;
  }
}
